.wrapper {
    display: flex;
    flex-direction: column;

    &[hidden] {
        display: none;
    }

    label {
        margin-left: 5px;
        
        font-size: 14px;
        font-weight: 600;
    }
}