@import '@vars/colors';

.loginButton {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: max-content;

    border: 0;
    border-radius: 5px;

    background-color: transparent;
    cursor: pointer;

    &:focus-visible {
        box-shadow: 0 0 0 4px #a6bdee;
    }
}