$pad0: 0;
$pad1: 0.25rem;
$pad2: 0.5rem;
$pad3: 0.75rem;
$pad4: 1rem;
$pad5: 1.25rem;
$pad6: 1.5rem;
$pad7: 1.75rem;
$pad8: 2rem;
$pad9: 2.25rem;
$pad10: 2.5rem;
$pad11: 2.75rem;
$pad12: 3rem;
$pad13: 3.25rem;
$pad14: 3.5rem;
$pad15: 3.75rem;
$pad16: 4rem;